<h1>Angular Tutorial</h1>
<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- <app-forms></app-forms> -->
<!-- <app-bootstrap-tutorial></app-bootstrap-tutorial> -->
<!-- <app-material></app-material> -->


<!-- <h2>Data passing from Parent to Child Component</h2>
<table border="1">
    <thead style="background-color: aqua;">
        <td>Name</td>
        <td>Age</td>
        <td>Place</td>
    </thead>
    <tbody style="background-color: chartreuse; width:100%;">
        <div *ngFor = "let data of users">
            <app-child-comp-app [one_user] = "data"></app-child-comp-app> <!--send the data like this binding-->
        <!--</div>-->
        <!-- <app-child-comp-app [one_user] = "users"></app-child-comp-app> -->
    <!--</tbody>
</table> -->


<!-- <app-child-comp-event-emitter (parentComponent) = "parentComponent($event)"></app-child-comp-event-emitter>
<h3>{{data}}</h3> -->

<!-- <a routerLink = "bootstarp-tutorial">BootStrap</a>
<a routerLink = "material">Material</a>
<a routerLink = "login">login</a>
<a routerLink = "signup">signup</a>
<br> -->

<div class="example-button-row">
    
    <button mat-raised-button color="accent" routerLink = "material">Material</button>
    <button mat-raised-button color="accent" routerLink = "login">Login</button>
    <button mat-raised-button color="accent" routerLink = "signup">Signup</button>
    <button mat-raised-button color="accent" routerLink = "about">About</button>
    <button mat-raised-button color="accent" routerLink = "bootstarp-tutorial" >BootStrap</button>
    <button mat-raised-button color="accent" routerLink = "apicall">CallAPI</button>
    <button mat-raised-button color="accent" routerLink = "pracform/boot_form">BootForm</button>
    <button mat-raised-button color="accent" routerLink = "pracform/reactive_form">ReactiveForm</button>
    <!-- <button mat-raised-button color="accent" (click) = "loadLazy1()">LazyComp_1</button>
    <button mat-raised-button color="accent" (click) = "loadLazy2()">LazyComp_2</button> -->
    <button mat-raised-button color="accent" routerLink = "module1/test1">Module 1 Test1</button>
    <button mat-raised-button color="accent" routerLink = "module1/test2">Module 1 Test2</button>
    <button mat-raised-button color="accent" routerLink = "module2/test1">Module 2 Test1</button>
    <button mat-raised-button color="accent" routerLink = "module2/test2">Module 2 Test2</button>
</div>


<!-- <br><br>

<form #userForm = "ngForm" (ngSubmit) = "onSubmit(userForm.value)">
    <input type="text" class="form-control" name="email" ngModel><br>
    <input type="password" class="form-control" name="password" ngModel><br>
    <button type="submit">Login</button>
</form> -->

<router-outlet></router-outlet>

<!-- (click) = "loadBoot()"
(click) = "loadApi()" 
routerLink = "bootstarp-tutorial"-->