<h1>API CALL DATA</h1>
<button (click)="SubmitAPI()">SubmitAPI</button>


<!-- <p>{{data.data.user_credential_id}}</p>
<p>{{data.data.user_f_name}}</p>
<p>{{data.data.user_m_name}}</p>
<p>{{data.data.user_l_name}}</p>
<p>{{data.data.user_email}}</p>
<p>{{data.data.user_profile_id}}</p>

<p>{{data.action}}</p> -->

<!-- <button (click) = "reqAPI()">reqAPI</button> -->
<table border="1" style="margin-left: 300px;">
    <tr>
        <td>UserId</td>
        <td>PostId</td>
        <td>Title</td>
        <td>Status</td>
    </tr>
    <tr *ngFor="let item of data">
        <td><a [routerLink] = '["../views",item.userId]'>{{item.userId}}</a></td>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.completed}}</td>
    </tr>
</table>
<main>
    <router-outlet></router-outlet>
    <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px' }"
    >
    </ngx-loading>
    <!-- <ngx-spinner
        template="<img src='https://media.giphy.com/media/l0HlKrB02QY0f1mbm/giphy.gif'/>"
    >
    </ngx-spinner> -->
</main>
<!-- <a routerLink = 'views,{{item.userId}}'></a> -->